.alert.alert-danger{ role: "alert" }
  %button.close{"aria-label" => "Close", "data-dismiss" => "alert", type: "button"}
    %span{"aria-hidden" => "true"} ×
  %h4.alert-heading Ошибка при отправлении заявки!
  %p Подробности ошибки описаны ниже в форме приёма заявок
  %hr/
  %p.mb-0
    Если ошибка повторяется или не отображается, обращайтесь по телефону
    = tel_tag @event.responsible_person[:phone] || @application.phone
    или пишите на email
    = mail_to @event.responsible_person[:email] || @application.email
