- map_exists = yield(:longtitude).present? && yield(:latitude).present?
#contacts
  %h2.mb-5.font-weight-bold.text-center
    = block.title
  - if map_exists
    = render 'tramway/landing/blocks/block_types/contacts/with_map', block: block, social_networks: defined?(social_networks) ? social_networks : nil
  - else
    = render 'tramway/landing/blocks/block_types/contacts/without_map', block: block, social_networks: defined?(social_networks) ? social_networks : nil, phone: defined?(phone) ? phone : nil, email: defined?(email) ? email : nil
