<!DOCTYPE html>
<html>
<head>
  <title>Tramway user</title>
  <%= stylesheet_link_tag    "tramway/user/application", media: "all" %>
  <%= javascript_include_tag "tramway/user/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
