/*
 *= require_tree .
 *= require_self
 */

@import 'bootstrap'
@import "tramway/core/application"
@import "tramway/landing/collage"
@import "tramway/landing/justified"

#intro 
  height: 100%

header
  height: 100vh

main.mt-5
  margin-top: 0px !important

#intro 
  background-repeat: no-repeat
  background-position: center center
  background-attachment: fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

.container-fluid
  padding-right: 0 !important
  padding-left: 0 !important

.row
  &.page
    margin-top: 100px
  p
    margin-top: 15px

@media screen and (max-width: 800px)
  .row
    &.page
      h2
        margin-top: 15px
