/*
 *= require_tree .
 *= require_self
 */

html, body, header, #intro 
  height: 100%

#intro 
  background-repeat: no-repeat
  background-position: center center
  background-attachment: fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
