= render 'tramway/landing/templates/section_with_image_and_text', block: section
= render 'tramway/landing/templates/features_list', collection: section.partakings, options: { image: { css: { class_name: 'circle' } } }
