%header
  #intro.view.hm-black-strong{ style: "background-image: url('#{block.background.url}')" }
    .container-fluid.full-bg-img.d-flex.align-items-center.justify-content-center
      .row.d-flex.justify-content-center
        .col-md-12.text-center
          %h2.display-3.font-bold.white-text.mb-2
            = block.title
          %hr.hr-light
          %h4.white-text.my-4
            = block.tagline
          - if defined?(buttons) && buttons&.compact&.any?
            - buttons.each do |button|
              - data_obj = {}
              - data_obj = data_obj.merge(href: button.link) if button.try :link
              - data_obj = data_obj.merge(anchor: button.anchor) if button.try :anchor
              %button.btn.btn-outline-white.waves-effect.waves-light.header-buttons.link{ type: :button, data: data_obj }
                = button.title
