.row.page{ id: block.anchor }
  .col-md-7
    - if block.background.present?
      - background_url = block.background.is_a?(String) ? block.background : block.background.url
      = image_tag background_url, class: 'img-fluid'
  .col-md-5{ style: 'text-align: justify' }
    = render 'tramway/landing/templates/text', block: block
