.row.page{ id: block.anchor }
  .col-md-7
    = image_tag block.background.url, class: 'img-fluid'
  .col-md-5{ style: 'text-align: justify' }
    = render 'tramway/landing/templates/text', block: block
