<!DOCTYPE html>
<html>
<head>
  <title>Tramway event</title>
  <%= stylesheet_link_tag    "tramway/event/application", media: "all" %>
  <%= javascript_include_tag "tramway/event/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
