<!DOCTYPE html>
<html>
<head>
  <title>Tramway auth</title>
  <%= stylesheet_link_tag    "tramway/auth/application", media: "all" %>
  <%= javascript_include_tag "tramway/auth/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
