- if Tramway::Landing.navbar_for(@application_engine || @application&.name)
  %nav.navbar.navbar-expand-lg.navbar-dark.indigo.scrolling-navbar.fixed-top{ style: 'padding-left: 1rem' }
    = link_to @application&.public_name || yield(:application_name), '/', class: 'navbar-brand'
    %button.navbar-toggler{ type: :button, data: { toggle: :collapse, target: '#navbarSupportedContent' }, aria: { controls: 'navbarSupportedContent', expanded: 'false', label: 'Toggle navigation' } }
      - if @links&.any?
        = fa_icon :bars
    .collapse.navbar-collapse#navbarSupportedContent
      - left_links = @links.is_a?(Hash) ? @links[:left] : @links
      - if left_links&.any?
        %ul.navbar-nav.mr-auto
          - left_links.each do |link|
            = render 'layouts/tramway/landing/navbar/link', link: link
      - right_links = @links.is_a?(Hash) ? @links.dig(:right) : []
      - if right_links&.any?
        %ul.navbar-nav.ml-auto
          - right_links.each do |link|
            = render 'layouts/tramway/landing/navbar/link', link: link
